<div id= "calculator">
  <div class="displayTop">
    <div class="display">{{answers}}{{prev}}</div>
    <div class="display">{{digit}}{{digits}}{{answer}}</div>
  </div>
  
    <div id="top">
      <button class="clear" (click)="clear('C')">C</button>
      <button class="delete" (click)="delete('Del')">Del</button>
    </div>

    <div id="top2">
      <button (click)="display('7')">7</button>
      <button (click)="display('8')">8</button>
      <button (click)="display('9')">9</button>
      <button class="numbers" (click)="operators('+')">+</button>
    </div>

    <div id="middle">
      <button (click)="display('4')">4</button>
      <button (click)="display('5')">5</button>
      <button (click)="display('6')">6</button>
      <button class="numbers" (click)="operators('-')">-</button>
    </div>

    <div id="middle2">
      <button (click)="display('1')">1</button>
      <button (click)="display('2')">2</button>
      <button (click)="display('3')">3</button>
      <button class="numbers" (click)="operators('*')">*</button>
    </div>

    <div id="bottom">
      <button class ="dot" (click)="display('.')">.</button>
      <button (click)="display('0')">0</button>
      <button class = "equals" (click)="calculate('=')">=</button>
      <button class="numbers" (click)="operators('/')">/</button>
    </div>
</div>